@model string
@{ ViewData["Title"] = "Index"; }

<style>
    h1 {
        font-family: 'Times New Roman', Times, serif

    }
    .container{
        background-color:paleturquoise;
    }
    body{
        background-color:darkcyan;
    }
  
</style>

<h1 align="center">Welcome To Online Mega Mall!</h1>

<hr />

<div class="container col-12" style="align-content:center;padding-right:30px;padding-left:120px;">
    <div class="row" style="padding-right:10px; margin-bottom:10px;">
        <div class="col">
            <div class="card" style="width: 18rem; height:12rem;">
                <img class="card-img-top" src="~/images/book_photo.jpg" alt="Card image cap" width="50" height="100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Books" class="col btn btn-success m-2">ShopBooks</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;height:12rem;">
                <img class="card-img-top" src="~/images/chat.jpg" alt="Card image cap" height="100">
                <div class="card-body">
                    <a asp-action="chaat" asp-controller="Chats" class="col btn btn-primary m-2">Chat Items</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;height:12rem;">
                <img class="card-img-top" src="~/images/movies.jpg" alt="Card image cap" height="100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Booking" class="col btn btn-success m-2">Book Movies</a>
                </div>
            </div>
        </div>
  
        </div>
        <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;height:12rem;">
                <img class="card-img-top" src="/images/products.jpeg" alt="Card image cap" height="100">
                <div class="card-body">
                    <a asp-action="Index" asp-controller="Product" class="col btn btn-primary m-2">Shop Products and Gadgets</a>
                </div>
            </div>
        </div>
       

    </div>

    





</div>
